# Hey AI，生成硬件代码！智能体AI驱动的硬件设计与验证

发布时间：2025年07月03日

`Agent` `硬件设计` `人工智能`

> Hey AI, Generate Me a Hardware Code! Agentic AI-based Hardware Design & Verification

# 摘要

> 现代集成电路（ICs）日益复杂，其开发过程也变得愈发繁琐。硬件设计验证需要系统化的规划、开发、执行和确认过程，确保硬件设计的功能正确性。这一耗时费力的过程需要投入大量精力，以确保最终的无缺陷流片。自然语言处理领域随着大语言模型（LLMs）的出现经历了重大变革。这些强大的模型，通常被称为生成式AI（GenAI），彻底改变了机器理解和生成人类语言的方式，推动了包括硬件设计验证在内诸多应用的前所未有的进步。本文提出了一种基于智能体AI的硬件设计验证方法，该方法通过人工智能代理与人类在回路（HITL）的协作，实现了一个更动态、迭代和自我反思的过程，最终完成端到端的硬件设计和验证。该方法在五个开源设计上进行了评估，实现了超过95%的覆盖率，同时减少了验证时间，并展示了卓越的性能、适应性和可配置性。

> Modern Integrated Circuits (ICs) are becoming increasingly complex, and so is their development process. Hardware design verification entails a methodical and disciplined approach to the planning, development, execution, and sign-off of functionally correct hardware designs. This tedious process requires significant effort and time to ensure a bug-free tape-out. The field of Natural Language Processing has undergone a significant transformation with the advent of Large Language Models (LLMs). These powerful models, often referred to as Generative AI (GenAI), have revolutionized how machines understand and generate human language, enabling unprecedented advancements in a wide array of applications, including hardware design verification. This paper presents an agentic AI-based approach to hardware design verification, which empowers AI agents, in collaboration with Humain-in-the-Loop (HITL) intervention, to engage in a more dynamic, iterative, and self-reflective process, ultimately performing end-to-end hardware design and verification. This methodology is evaluated on five open-source designs, achieving over 95% coverage with reduced verification time while demonstrating superior performance, adaptability, and configurability.

[Arxiv](https://arxiv.org/abs/2507.02660)